body,html{
    width  : 100%;
    height: 100%;
}
header{
    /* font-family: Kaushan Script; */
    width: 100%;
    /* height : 100%; */
    /* height : auto; */
    /* background-color: tomato; */
    background : url("pizzaBackground.jpg");
    background-size : cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    /* padding-bottom : 9.5%;    */
}

.s{
    width : 100%;
    height: 100%;
    background: rgba(0,0,0,.7);
    
}

/* repeating-linear-gradient( -45deg, rgba(255, 255, 255, .2), rgba(255, 255, 255, .2) 15px, transparent 15px, transparent 30px) */
nav{
    /* background-color: burlywood; */
    color : white;
    /* border : 1px solid whitesmoke; */
    position:sticky;
    top : 0;

}

/* .navbar-nav{
    color : white;
} */


.dropdown-item{
    color : grey;
}

.dropdown-item:hover{
    color : white;
    background: none;
}


.content{
    position: relative;
    width : 80%;
    /* height : 60%; */
    box-sizing: content-box;
    /* margin-top : 50%; */
    /* margin-bottom : 10%; */
    /* transform: translate(50%,50%); */
    margin-top : 8.5%;
    margin-left: 50%;
    transform: translate(-50%,0%);
    color : white;
    margin-bottom : 9.5%;
    /* border :1px solid aqua; */
}

.content h1{
    font-family : Kaushan Script;
    text-align: center;
    /* border : 1px solid red; */
}

.content p{
    /* font-family : Kaushan Script; */
    font-family:Sacramento;
    /* margin-top: 1%; */
    padding-top: 1%;
    font-size: 1.8em;
    /* letter-spacing: 32x; */
    font-weight: bold;
    text-align : center;
}


.reservationDiv{
    /* border : 1px solid silver; */
    padding-left : 42%;
    padding-right : 30%;
}

#reservationBtn {
    border : 1px solid white;
    /* display : inline; */
    /* margin-left : 30%; */
    /* margin-bottom : 2%; */
    /* margin : auto; */
    text-transform: uppercase;
    padding : .7% 5%;
    color : white;
    /* transform: translate(-20%,0%); */
}

 

.second{
    width : 100%;
    padding-top : 2%;
    padding-bottom : 6%;
    /* height : 140%; */
    border : 1px solid black;
    /* background-color : tomato; */
}

.secondContent1{
    width : 80%;
    margin-left: 10%;
    text-align : center;
    
}

.secondContent1 h3{
    font-family : sacramento;
    margin-top : 4%;
    display : inline-block;
    color : rgb(235, 182, 114);
    font-weight : bold;
}

.secondContent1 h1{
    font-family : Kaushan Script;
}

.secondContent1 p{
    font-family : helvetica;
    /* border : 1px solid black; */
    width : 65%;
    color : rgb(172, 157, 157);
    margin-left: 17.5%;
}

.second-linksDiv{
    /* border : 1px solid black; */
    margin-top : 6%;
    padding-left : 25%;
    padding-right : 20%;
    text-align: left;
}

.second-linksDiv > a{
    margin-left : 10%;
    color : black;
    font-weight : bold;
    font-family: Kaushan Script;
    /* border-bottom : 2px solid red; */
    padding : 0.5% 1.3% 0.5% 1.5%;
    font-size : 20px;
}

.second-linksDiv > a:nth-child(1){
    color : rgb(235, 182, 114);
    border-bottom : 2px solid rgb(235, 182, 114);
}


.imagesContainer{
    margin-top:3%;
    display: flex;
    flex-wrap : wrap;
    justify-content: space-evenly;
    /* background-color: aquamarine; */
}

.card{
    border : none;
    margin-top : 2%;
}

.card-body{
    text-align : center;
}

.card-body h4{
    font-weight : bold;
    font-family : sacramento;
    color : rgb(235, 182, 114);
}

.card-body h3{
    font-family : Kaushan Script;
    color : black;    
}

.card-body p{
    
    font-family : arial;
    color : rgb(172, 157, 157);
}


.third{
    padding-top : 5%;
    background : url(coffee.jpg);
    background-size : cover; 
    background-position: center;
    background-repeat: no-repeat; 
    background-attachment: fixed;
    text-align : center;
    padding-bottom : 4%;
}

.third h4{
    font-family: Kaushan Script;
    color : rgb(235, 182, 114);
}

.third h1{
    font-family: Kaushan Script;
    color : white;
}


.third-sub-div{
    margin-top : 1%;
    padding-top : 3%;
    padding-bottom : 4%;
    background-color : white;
}

.third-sub-div section{
    text-align: center;
    margin-top : 2%;
    /* margin-bottom : 4%; */
}

.third-sub-div section h3{
    font-family: Kaushan Script;
    color : rgb(235, 182, 114);
}

.third-sub-div section h2{
    font-family: Kaushan Script;
}

.third-sub-div section p{
font-family : arial;
color : rgb(172, 157, 157);
}

.four{
    /* gutter : no-gutter; */
    padding-top : 6%;
    /* padding-bottom : 6%; */
    text-align : center;
    border : 1px solid black;
    /* position : relative; */
}

.four h3{
    font-family: sacramento;
    font-weight : bold;
    color : rgb(235, 182, 114);
}

.four h1{
    font-family: Kaushan Script;
}

.four p{
font-family : arial;
color : rgb(172, 157, 157);
padding-right : 20%;
padding-left : 20%;
}

.four-nav-Div{
    /* border : 1px solid black; */
    padding-left : 25%;
    padding-right : 20%;
    padding-bottom : 8%;
    text-align: left;
}

.four-nav-Div a{
    margin-left : 10%;
    color : black;
    font-weight : bold;
    font-family: Kaushan Script;
    /* border-bottom : 2px solid red; */
    padding : 0.5% 1.3% 0.5% 1.5%;
    font-size : 20px;
}

.four-nav-Div a:nth-child(1){
    color : rgb(235, 182, 114);
    border-bottom : 2px solid rgb(235, 182, 114);

}

.imagesDiv{
    transform: translateY(-3%);
    box-shadow: 1px 1px 10px black;
    padding : 0px;
    display : flex;
    flex-wrap : wrap;
    /* border : 1px solid brown; */
    /* z-index: 1; */
}

.imagesDiv section{
    /* margin-left:0%; */
    /* border : 1px solid tomato; */
    flex-basis: 340px;
    /* height: 8%; */
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow : 1;
}

.sec-content{
    background-color : white;
    text-align : center;
    padding-top :3%;    
}

.sec-content h2{
    text-align : center;
    font-family: Kaushan Script;
}

.sec-content h3{
    text-align : center;
    font-family: Kaushan Script;
}

.sec-content p{
    padding-left : 1.5%;
    padding-right : 1.5%;
    font-family : arial;
    color : rgb(172, 157, 157);
    text-align : justify;
}

.sec-image img{
    width : 100%;
    height : 100%;
}

.four-backDiv1{
    /* width : 100%; */
    height : 800px;
    background: url("coffee.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    z-index: 0;
}

.four-backDiv2{
    height : 400px;
    /* background: tomato; */
    display : flex;
    align-items: flex-end;
    justify-content: center;
    /* z-index: 0; */
}


.four-backDiv2 a{
    border : 1px solid black;
    margin-bottom : 5%;
    color : white;
    background-color : black;
    padding : .5% 1.5% .5% 1.8%;
}

.five{
    background: url("grannyRestaurent.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.five-header-div{
    padding-top : 5%;
    display : flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items : center;
}

.five-header-div h3{
    font-family: sacramento;
    color : rgb(235, 182, 114);
    font-weight : bold;
}

.five-header-div h2{
    font-family: Kaushan Script;
    color : white;
    font-weight : bold;
}

.five-card-Container{
    padding-bottom : 5%;
    display: flex;
    flex-wrap : wrap;
    justify-content: space-evenly;
}

.five-card-Container div{
    flex-grow: 1;
}

.five-card-body p{
    margin-top : 5%;
}

.six{
    padding-top : 5%;
    padding-bottom : 5%;
    /* background-color: tomato;  */
}

.six-header-container{
    /* margin-top : 5%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items : center; 
}

.six-header-container h2{
    font-family: sacramento;
    color : rgb(235, 182, 114);
}

.six-header-container h1{
    font-family: Kaushan Script;
}

.six-header-container p{
    color : silver;
}

.carousel{
    /* border : 1px solid red; */
    width : 100%;
    margin : 0%;
    padding: 1%;
}

.cardFlex-corousel{
    width : 100%;
    padding-bottom : 2%;
    display : flex;
    justify-content: space-evenly;
    flex-wrap : wrap;
    margin-left: 0%;
    /* border : 1px solid blue; */
}

.cardFlex-corousel>.card{
    margin-left : 0%;
    color : white;
    background-color : black;
}

 .seven{
    background-color: #212020;
    color : white;
    /* padding-top: 5%;*/
    padding-bottom : 2%; 
}

.seven-sec1{
    text-align: center;
    margin-top : 5%;
    margin-bottom : 1%;
}
.seven-sec2{
    /* width  : 300px; */
    padding: 2% 4%;
    margin-top: 2%;
    margin-bottom : 3%;
    /* margin-bottom : 2%; */
    /* transform: translateY(-30%); */
    text-align: center;
    background-color: black;
    border : 1px solid white;
}

.seven-sec2 h1{
    font-family: Kaushan Script;
    margin-bottom: 15%;
}

.tableBtn{
    margin-top : 1%;
    text-align : center;
    border : 1px solid rgb(235, 182, 114);
    padding-top : 1%;
    padding-bottom: 1%;
}

.tableBtn a{
    color :rgb(235, 182, 114);
}

.seven-sec3{
    text-align: center;
    margin-top : 5%;
    margin-bottom : 4%;
}

.mapBtn{

color: rgb(235, 182, 114);
}

.flex-section{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    /* width : 30%; */
    border-bottom : 1px silver dashed;
    /* padding-bottom : 0px; */
    margin-bottom : 3%;
}

.row-social{
    flex-wrap : wrap;
    margin-top : 3%;
    margin-bottom : 1%;
    /* padding-bottom : 1%; */
    justify-content: center;
    /* align-items : center; */
}

.row-social>div{
    padding : 1% 0%;
    /* border : 1px solid white; */
    flex-basis: 500px;
    flex-grow : 1;
}

.social-icons{
    text-align: center;
}

.social-icons>i{
    font-size : 1em;
    background-color : black;
    border-radius : 50%;
    /* margin : 1%; */
    margin-left : 1%;
    margin-right : 1%;
    padding :3.5%;
}

.icon-inputDiv>input{
    color : rgb(235, 182, 114);
    font-family: Kaushan Script;
    width : 90%;
    height : 100%;
    margin-left : 3%;
    background-color : black;
    outline : none;
    border : none;
    padding : 3% 3% 3% 10%;
    border-radius : 100px;
}

::placeholder{
    padding-left : 5%;
    color : rgb(235, 182, 114);
    font-family : Kaushan Script;
}

.copyrightsDiv{
    background-color: black;
    color : silver;
    padding : 1% 0% .3% 0%;
}

.copyrightsDiv p{
    text-align: center;
}






/*
.seven-flex-container{
    display: flex;
    flex-wrap : wrap;
    justify-content: space-between;
}

.seven-flex-container>div:nth-child(odd){
    text-align : center;
    flex-grow : 1;
    width  : 300px;
}

.seven-flex-container>div:nth-child(even){
    border : 1px solid tan;
    background-color : black;
    color : white;
    width : 400px;
    padding : 2%;
    align-self: flex-start;
    flex-grow : 1;
} */


@media only screen and (max-width : 422px){

    .imagesDiv{
        transform: translateY(-1%);
        padding : 0px;
        display : flex;
        flex-wrap : wrap;
        border : 1px solid brown;
        z-index: 1;
        /* visibility : hidden; */
    }

    .four-backDiv1{
        /* width : 100%; */
        height : 2000px;
        background: url("coffee.jpg");
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        z-index: 0;
    }

    .four-backDiv2{
        height : 700px;
        display : flex;
        align-items: flex-end;
        justify-content: center;
        /* background: tomato; */
        /* z-index: 0; */
    }

    .four-backDiv2 a{
        border : 1px solid black;
        margin-bottom : 10%;
        color : white;
        background-color : black;
        padding : .5% 1.5% .5% 2%;
    }


}



